.photo-container {
	background-image: url('/raymallick-banner.jpg');
	background-size: cover;
	height: 300px;
	width: 100%;
	background-position: center;

	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.about-me-container {
	background-color: #2fc177;
	color: white;
	margin-bottom: 40px;
	
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;

	.paragraph-container {
		padding: 60px 60px 20px 60px;
	}

	.header {
		text-transform: uppercase;
		font-weight: bold;
    padding: 40px 30px 30px 0px;
		text-align: right;
	}

	.about-me-color-line {
		background: #e65d6a;
		width: 100%;
		height: 10px;
		margin: 40px 0px;
	}

	a {
		padding: 15px;
		background: #fff;
		color: black;
		text-transform: uppercase;
		text-decoration: none;
		font-size: 15px;
		font-weight: 600;
		&:hover,
		&:active {
			background: #343a40;
			color: #fff;
		}
	}
}

@media (max-width: 992px) {
	.photo-container {
		height: 200px;
	}
	.about-me-container {
		.paragraph-container {
			padding: 40px 40px 15px 40px;
		}
		h1 {
			font-size: 23px;
		}
		p {
			font-size: 15px;
		}
	}
}
