.about-me-container {
    height: 500px;

    .header {
        text-transform: uppercase;
        font-weight: bold;
    }

    .about-me-color-line {
        background: #e65d6a;
        width: 100%;
        height: 10px;
        margin: 40px 0px;
    }
}
