.main-banner-container {
  // display: grid;
  // grid-template-columns: 0.7fr 1fr;

  .banner-img-container {
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .banner-header-container {
    .movie-headline {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      font-size: 100%
    }
  }

}
