.section-container {
  .section-title {
    border-bottom: 10px solid #2fc177;
    padding-bottom: 7px;
    padding-right: 50px;
    width: min-content;
    text-align: left;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
