.featured {
  &-title {
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 30px;
  }

  .main-featured {
    margin-bottom: 10px;
    justify-content: space-between;
  }

  .second-featured {
    justify-content: flex-start;
  }

  .main-featured,
  .second-featured {
    width: 100%;
    height: 375px;
    box-shadow: 2px 2px 3px -2px #e1e1de52;
    border: 1px solid #efeeee;
    background-size: cover;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background-position: center;
    &:hover {

    }


    .text-container {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1rem;
      color: white;
      padding: 40px 30px;
      text-align: left;
      text-shadow: 0px 1px 2px black;
      
      &:hover {
        cursor: pointer;
      }

      .text-sub-heading {
        font-weight: 500;
        text-transform: none;
        font-size: 0.9rem;
      }
    }

    .main-featured-text-container {
      background-color: #343a40bf;
      padding: 25px 30px;
    }

    .featured-header {
      span {
        margin-right: 5px;
        font-size: 1em;
      }
      background: #2fc177;
      width: fit-content;
      padding: 7px 30px;
      margin-top: 30px;
      margin-left: 30px;
      box-shadow: 0px 0px 2px -1px #5a5a5a;
      text-shadow: none;
      border-radius: 20px;
    }
  }

  .second-featured {
    .text-container {
      text-align: left;
      top: 0px;
      bottom: auto;
    }
  }
}

@media (max-width: 992px) {
  .featured {
    .main-featured,
    .second-featured {
      height: 300px;
    }
  }
}

@media (max-width: 576px) {
  .featured {
    .main-featured,
    .second-featured {
      height: 290px;
    }
  }
}
